spring:
  datasource:
    url: jdbc:mysql://localhost:3306/lotto
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always
      schema-locations: 'classpath:data/schema.sql'
      data-locations: 'classpath:data/data.sql'
  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
coolsms:
  api:
    key: "your API Key"
    secret: "your API Secret"